<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:content="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd	
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd	
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 1. 定义事务管理器的bean -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<!-- 2. 定义事务增强或事务通知（事务处理的代码，可以设置各个方法是否支持事务并配置事务属性）-->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<!-- 定义事务属性,声明事务规则 -->
		<tx:attributes>
			<tx:method name="load*" read-only="true" />
			<tx:method name="list*" read-only="true" />
			<tx:method name="count*" read-only="true" />
			<tx:method name="pager*" read-only="true" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			
			<tx:method name="testTxInit" propagation="REQUIRED" />
			<tx:method name="testTxYes" propagation="REQUIRED" />
			<tx:method name="testTxNo" propagation="NOT_SUPPORTED" />

			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>



	<!-- 3.aop配置：advisor切面——表示哪些包的哪些类的哪些方法，需要添加事务增加  -->
	<aop:config proxy-target-class="true">
		<!-- 定义切入点:包类方法 -->
		<aop:pointcut id="serviceMethod" expression="execution(* edu.fjnu.service.impl.*.*(..))" />
		<!-- 将切入点组合与事务通知 -->
		<aop:advisor pointcut-ref="serviceMethod" advice-ref="txAdvice" />
	</aop:config>


</beans>