<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:Context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
	<property name="prefix" value="/jsp/"/>
	<property name="suffix" value=".jsp"/>
	</bean>
	
    <bean name="/Login.action" class="edu.fjnu.controller.LoginController"></bean>
    <bean name="/loadAll.action" class="edu.fjnu.controller.LoadAllController"></bean>
    <bean name="/addUser.action" class="edu.fjnu.controller.AddUserController"></bean>
    <bean name="/preUpdate.action" class="edu.fjnu.controller.PreUpdateController"></bean>
    <bean name="/updateUser.action" class="edu.fjnu.controller.UpdateUserController"></bean>
    <bean name="/loadSelf.action" class="edu.fjnu.controller.LoadSelfController"></bean>
    <bean name="/deleteUser.action" class="edu.fjnu.controller.DeleteUserController"></bean>
</beans>